#Trigger Reusable workflow
name: Reusable-workflow
on: 
      push:
            branches:
            - main
      pull_request:
            branches:
            - main
#CI/CD job           
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: setup java
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Build using ANT
        run: ant -noinput -buildfile .github/workflows/build.xml     
   #Reusable workflow
  Deploy:
    needs: build
    uses: ./.github/workflows/reusable.yml          
                    
      
  

        

  
   
        
      
